#contextmenu {
		border: 1px solid #aaa;
		border-bottom: 0;
		background: #eee;
		position: absolute;
		list-style: none;
		margin: 0;
		padding: 0;
		display: none;
	}
																			   
	#contextmenu li a {
		display: block;
		padding: 10px;
		border-bottom: 1px solid #aaa;
		cursor: pointer;
	}
																			   
	#contextmenu li a:hover {
		background: #fff;
	}
	
	 div#rMenu {position:absolute; 
	            visibility:hidden; 
	            top:0;
	            background-color:#FFFFFF;
	            text-align: left;
	            padding: 2px;}
	            
     div#rMenu ul li{padding: 0 5px;
                     cursor: pointer;
                     list-style: none outside none;
                     background-color:#FFEBCD;}